// $fa-font-path: '../fonts/';

// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$white: rgba(255, 255, 255, .7);
$black: rgba(0, 0, 0, .7);
$base-bg-color: #0683c9;
$base-fg-color: $white;
$base-text-color: #656b6f;

$resizeable-header-height: 140px;
$resizeable-header-height-small: 75px;

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibre, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: $base-fg-color;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
  &:hover {
    color: white;
  }

  i {
    padding-right: 10px;
  }
}

header, footer {
  a {
    position: relative;
    padding: 4px 0;
  }

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

h2 {
  font-size: 30px;
  color: $black;
}

h3 {
  font-size: 25px;
  color: $white;
  margin-bottom: 5px;
}

p {
  color: $base-text-color;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.container.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  position: fixed;
  width: 100%;
  height: $resizeable-header-height;
  z-index: 1;

  #logo, nav {
    margin: 0;
    display: inline-block;
  }

  #logo {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  nav {
    white-space: nowrap;
    a {
      margin: 0 20px;
      font-size: 22px;
    }
  }
}


main {
  margin-top: 60px;
  margin-bottom: 20px;

  a {
    color: $base-text-color;
    &:hover {
      color: #db4437;
    }
  }
}


.container {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  .column {
    width: 48%;
  }
}

header.resizable {
  transition: all 0.3s;
  background-color: transparent;

  #logo, nav a {
    transition: all 0.3s;
  }

  #logo {
    height: $resizeable-header-height;
    line-height: $resizeable-header-height;
    width: 250px;
    background-size: 250px auto;
  }

  nav a {
    line-height: $resizeable-header-height;
  }

  &.smaller {
    height: $resizeable-header-height-small;
    background-color: rgba(0, 0, 0, .9);

    #logo {
      height: $resizeable-header-height-small;
      line-height: $resizeable-header-height-small;
      width: 150px;
      background-size: 150px auto;
    }
    nav a {
      line-height: $resizeable-header-height-small;
    }
  }
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/images/home.jpg) no-repeat center center fixed;
  background-size: cover;
  max-height: 800px;

  h1 {
    color: white;
    font-size: 70px;
    font-family: "A2 60 Display Regular", 'Arial Black', Arial, Helvetica, Verdana, sans-serif;
    transform: translateY(-50px);
    text-align: center;
  }
}

ul a {
  line-height: 1.5;
}

ul.subfooter li{
  color: #4d4d4d;
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
}

footer {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: black;
}

.info {
  margin-top: 16px;
  position: relative;
  display: flex;
  flex-direction: row;

  .avatar {
    width: 120px;
    height: 160px;
  }

  ul {
    padding-top: 60px;
    margin: 0 0 0 30px;

  }
}
